.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.new-collection h1{
    font-size: 50px;
    font-weight: 600;
    color: #000;
}
.new-collection hr{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #252525;
}
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}