.hero{
    height: 100vh;
    background: linear-gradient(180deg white,black 60%);
display: flex;
}
.hero-left{
    flex:1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: black;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: black;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
  
}
.hero-hand-icon img{
    width: 100px;

}
.latest-btn{
    height: 70px;
    width: 310px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
margin-top:30px ;
background: red;
color: white;
font-size:15px ;
font-weight: 500 ;
}
.hero-right{
    flex:1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}