.login{
    height: 80vh;
    width: 100%;
    background: white;
    padding-top: 30px;
    margin-bottom: 10%;
}
.login-container{
    height: 600px;
    width: 580px;
    margin: auto;
    background-color:white ;
    padding:40px 60px ;
}
.login-container h1{
    margin: 20px 0px;

}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.login-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.login-container button{
    width: 580px;
    height: 72px;
color: white;
    background: red;
margin-top: 30px;
border: none;
font-size: 20px;
cursor: pointer;
font-weight: 500;
}
.login-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-login span{
   
    color: blue;
    font-weight: 600;
}
.agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;    
}
