.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
   display: flex;

}
.descriptionbox-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px ;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid white;
}
.descriptionbox-nav-fade{
background: #FBFBFB;
color: #555;
}
.description{
display: flex;
flex-direction: column;
gap:25px ;
border: 1px solid white;
padding: 48px;
padding-bottom: 70px;
}