.emailoffer{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 140px ;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
background: linear-gradient(180deg , #fde1ff 0% ,#e1ffea22 60% );
gap: 30px;
}
.emailoffer h1{
    font-size: 55px;
    font-weight: 600;
    color: #000000;
}
.emailoffer p{
    font-size: 20px;
    color: #000000;
   
}
.emailoffer div{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid black;
}
.emailoffer div input{
    width: 500px;
    height: 55px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-size: 16px;
    border-radius: 80px;
    font-family: poppins;
}
.emailoffer div button{
    width: 150px;
    height: 60px;
    border-radius: 80px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: poppins;
}