.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 30px;
    font-weight: bolder;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
color: #626262;
}
.nav-menu li{
    cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
gap: 3px;
}
.nav-menu hr{
    border-radius: 10px;
    height: 3px;
    width: 80%;
    border: none;
    background:green ;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid green;
    background: white;
    color:black;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color:lightgreen ;
    color: white;
    }

    .nav-login-cart .count{
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-35px ;
        margin-left:-55px ;
        border-radius:12px ;
        font-size:14px ;
        background-color: red;
        color: white;
    }