.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    font-size: 46px;
    font-weight: 700;
    color: #383838;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}   
.footer-social-icon{
    display: flex;
    gap: 30px;
   

}
.footer-icon-container{
    border: 1px solid white;
    background: #252525;
   padding: 10px;
   padding-bottom: 6px;
}
.footer-copyright{
   display: flex;
flex-direction: column;
align-items: center;
gap : 30px;
width: 100%;
margin-bottom: 30px;

font-size: 20px;
background: white;
}
.footer-copyright hr{
    width: 80%;
border: none;
border-radius: 10px;
height: 3px;
background:black;
}