body {
  margin: 0;
  padding: 0;
 background-image: url(/public/backpattern.avif);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
  font-style: normal;
  margin-top: 2px;
  color: blanchedalmond;
  text-align: center;
  width: 100%;
}
.logincontainer {
 
  
  margin-top: 2px;
  color: blanchedalmond;
  text-align: center;
  width: 100%;
}
.loginform {
  margin: auto;
  padding: 10px;
  border: 1px solid #0c0101;
  background: #282626;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  box-shadow: 0 10px 8px 0 rgb(0, 0, 0);
  text-align: left; 
  margin-top: 40px;
}

.registerform {
  margin: auto;
  padding: 10px;
  border: 1px solid #0c0101;
  background: #282626;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 8px 0 rgb(0, 0, 0);
  text-align: left;
  margin-top: 40px;
}

.addproductform {
  margin: auto;
  padding: 10px;
  border: 1px solid #0c0101;
  background: #282626;
  border-radius: 10px;
  width: 400px;
  height: 680px;
  box-shadow: 0 10px 8px 0 rgb(0, 0, 0);
  text-align: left; 
  margin-top: 40px;
}
.loginbtns {
  background-color: #4caf50;
  color: white;
  padding: 10px 10px;
  border: 1px solid #0c0101;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
  box-shadow: 0 10px 8px 0 rgb(0, 0, 0);
}
<<<<<<< HEAD
.nav-item .nav-link  {
  border: 1px solid #0c0101;
  border-radius: 7px;
  box-shadow: 0 8px 7px 0 rgb(0, 0, 0);
  height: auto;
}
.nav-item .nav-link:hover {
height: 40px;
}

.cardmap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 30px;
  justify-items: center;
}

.card {
background-color: gray;
  width: 18rem; 
   box-shadow: 0 8px 7px 0 rgb(0, 0, 0);     
}
=======
>>>>>>> d4f0ffdf14439246b0d352f9b552ad486d391628
