 .productdisplay{
    display: flex;
    margin:0px 170px ;
}

.displayleft{
    display: flex;
    gap: 17px;
}

.displayleft-image{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.displayleft-image img{
    height: 163px;
   
}

.displayleft-mainimage img{
    height: 500px;
    width: 486px;
}

.displayright{
    margin:0px 70px;
    display: flex;
    flex-direction: column;
}
.displayright h1{
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 700;

}
.displayright-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.display-right-price{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.display-right-newprice{
    color: red;
}
.display-right-oldprice{
    color: #818181;
    text-decoration: line-through;
}
.right-size h1{
   margin-top: 55px;
   color: #656565 ;
font-size: 20px;
font-weight: 600;
}
.size-options{
    display: flex;
    margin: 30px 0px;
gap: 20px;
}
.size-option{
    padding:18px 24px;
    background: #fbfbfb; 
border: 1px solid #ebebeb;
border-radius: 3px;
cursor: pointer;
}

.displayright button{
   padding: 20px 40px ;
   width: 200px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   background: red;
   margin-bottom: 40px; 
   border: none;
   outline: none;
   cursor: pointer;
}
.right-category span{
    font-weight: 600;
}